<h2>{{resume.profession}}</h2>

<p>
    {% if resume.gender.id == 2 %}
        Муж.
    {% else %}
        Жен.
    {% endif %}

    {{resume.age}} {{resume.age | plural_form(['год', 'года', 'лет'])}}.

    {% if resume.education.title %}
        {{resume.education.title}} образование.
    {% endif %}

    {% if resume.maritalstatus.title %}
        {{resume.maritalstatus.title}}.
    {% endif %}

    {% if resume.children.id == 2 %}
        Детей нет.
    {% else %}
        Есть дети.
    {% endif %}
    
    {{resume.type_of_work.title}}.
</p>

<h2>
    Опыт работы
    {{resume.experience_month_count | months_to_years('и', ['месяц', 'месяца', 'месяцев'], ['год', 'года', 'лет'])}}
</h2>

{% for work in resume.work_history %}
    <h5>
        {% if work.name %} {{work.name}}, {% endif %}г. {{work.town.title}}, {{work.profession}}
        c {{work.monthbeg | fixed('0', 2)}}.{{work.yearbeg}}
        по {% if work.monthend and work.yearend %}
            {{work.monthend | fixed('0', 2)}}.{{work.yearend}}
        {% else %}
            н.в.
        {% endif %}
    </h5>
    {% if work.work %}
        <p>{{work.work}}</p>
    {% endif %}
{% else %}
    <i>Информация отсутствует</i>
{% endfor %}

<h2>Образование</h2>

{% for education in resume.base_education_history %}
    <p><strong>{{education.yearend}} - {{education.institute.title}}</strong></p>
    <p>
        {% if education.faculty %}
            {{education.faculty}}.
        {% endif %}

        {% if education.profession %}
            {{education.profession}}.
        {% endif %}

        {% if education.education_type %}
            {{education.education_type.title}} ({{education.education_form.title}}).
        {% endif %}

        {% if education.town %}
            {{education.town.title}}.
        {% endif %}
    </p>

{% else %}
   <i>Информация отсутствует</i>
{% endfor %}

<h2>Иностранные языки</h2>

<p>
    {% for language, level in resume.languages %}
        <p>{{language.title}} ({{level.title}}).</p>
    {% else %}
       <i style="text-decoration: underline">Информация отсутствует</i>
    {% endfor %}
</p>

<h2>Водительское удостоверение</h2>

<p>
    {% if resume.driving_licence %} Категории: {% endif %}
    {% for licence in resume.driving_licence %}
        {{ licence + "." if loop.last else licence + ', ' }}
    {% else %}
        <i>Информация отсутствует</i>
    {% endfor %}
</p>
